# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Supabase Storage bucket (criar bucket público chamado "media")
NEXT_PUBLIC_SUPABASE_STORAGE_BUCKET=media

# MongoDB
MONGODB_URI=
MONGODB_DB=annotations

# SEO / Site
NEXT_PUBLIC_SITE_URL=https://quadrobranco.com
GOOGLE_SITE_VERIFICATION=
